@model CarDumpApp.Models.CarDumpSearchViewModel
 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>News. Best files</h2>
   <p>Лучшие прошивки. Популярные материалы. вообще отличные штуки</p>
     <div class="list-group">


        <a href="#" class="list-group-item disabled">
          <h3>Mercedes c200 2000 </h3>
          <img style="width:300px;height:auto;float:left;margin:10px;" src="~/Images/Home/blok2.jpg" /> 
           Описание продукта. Мерседес C200, 2000 года выпуска, тип модуля SRS, Тип памяти ST95640. Номер модуля n 3423 45235 4 4i5uby 54. Дополнительные примечаниябла бла бла бла бла бла
          <div style="clear: both"></div>
        </a>


        <a href="#" class="list-group-item disabled">
            <h3>BMW e93 2015 </h3>
            <img style="width:300px;height:auto;float:left;margin:10px;" src="~/Images/Home/blok1.jpg" />
            Описание продукта. BMW e93 2015 года выпуска, тип модуля SRS, Тип памяти ST95640. Номер модуля n 3213. Дополнительные примечаниябла бла бла бла бла бла
            <div style="clear: both"></div>
        </a>


        <a href="#" class="list-group-item disabled">
            <h3>Mercedes c200 2000 </h3>
            <img style="width:300px;height:auto;float:left;margin:10px;" src="~/Images/Home/blok2.jpg" />
            Описание продукта. Мерседес C200, 2000 года выпуска, тип модуля SRS, Тип памяти ST95640. Номер модуля n 3423 45235 4 4i5uby 54. Дополнительные примечаниябла бла бла бла бла бла
            <div style="clear: both"></div>
        </a>


        <a href="#" class="list-group-item disabled">
            <h3>BMW e93 2015 </h3>
            <img style="width:300px;height:auto;float:left;margin:10px;" src="~/Images/Home/blok1.jpg" />
            Описание продукта. BMW e93 2015 года выпуска, тип модуля SRS, Тип памяти ST95640. Номер модуля n 3213. Дополнительные примечаниябла бла бла бла бла бла
            <div style="clear: both"></div>
        </a>
        
    </div>
</div>

    <ul class="pager">
        <li><a style="color:#1a6358" href="#">Previous</a></li>
        <li><a style="color:#1a6358" href="#">Next</a></li>
    </ul>







