

@model CarDumpApp.Models.MemoryType


@using(Ajax.BeginForm("ModalWindow", "MemoryType", new AjaxOptions { UpdateTargetId = "ddlist-memorytype" }, new { id = "memorytypeformadd" }))
{


    <!-- Modal -->
    <div id="modal-memorytype" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div style="background-color:#1a6358;border-radius: 5px 5px  0 0 ;" class="modal-header">
                    <button  type="button" style="color:white" class="close" data-dismiss="modal">&times;</button>
                    <h4 style="color:white" class="modal-title">Add Memory Type</h4>
                </div>
                <div class="modal-body">

                    @Html.EditorFor(model => model.Name, "", new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-md" form="memorytypeformadd" value="Submit"  style="background-color:#1a6358;color:white;border-color:#1a6358 ;" onclick="$('#modal-memorytype').modal('hide');">Submit</button>
                </div>
            </div>

        </div>
    </div>

}