

@model CarDumpApp.Models.MemoryType


@using(Ajax.BeginForm("ModalWindow", "MemoryType", new AjaxOptions { UpdateTargetId = "ddlist-memorytype" }, new { id = "memorytypeformadd" }))
{


    <!-- Modal -->
    <div id="modal-memorytype" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add aut brand</h4>
                </div>
                <div class="modal-body">

                    @Html.EditorFor(model => model.Name, "", new { htmlAttributes = new { @class = "form-control" } })




                </div>
                <div class="modal-footer">
                    <button type="submit" form="memorytypeformadd" value="Submit" onclick="$('#modal-memorytype').modal('hide');">Subsssssmit</button>
                </div>
            </div>

        </div>
    </div>

}