<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ilvsanik-001-site3.ctempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://ilvsanik-001-site3.ctempurl.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>ilvsanik-001-site3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\ilvsanik-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CarDumpDatabaseEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5021.Smarterasp.net;Initial Catalog=DB_9EFA74_masterdumpbase;Persist Security Info=True;User ID=DB_9EFA74_masterdumpbase_admin;Password=SPCOM2016" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CarDumpApp.Models.CarDumpDatabaseEntities, CarDumpApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL5021.Smarterasp.net;Initial Catalog=DB_9EFA74_masterdump;Persist Security Info=True;User ID=DB_9EFA74_masterdump_admin;Password=SPCOM2016" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CarDumpApp.Models.ApplicationDbContext, CarDumpApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UsersDBEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=SQL5021.Smarterasp.net;Initial Catalog=DB_9EFA74_masterdump;Persist Security Info=True;User ID=DB_9EFA74_masterdump_admin;Password=SPCOM2016" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CarDumpApp.Models.UsersDBEntities, CarDumpApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CarDumpDatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.CarDumpModel.csdl|res://*/Models.CarDumpModel.ssdl|res://*/Models.CarDumpModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5021.Smarterasp.net;Initial Catalog=DB_9EFA74_masterdumpbase;Persist Security Info=True;User ID=DB_9EFA74_masterdumpbase_admin;Password=SPCOM2016"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5021.Smarterasp.net;Initial Catalog=DB_9EFA74_masterdump;Persist Security Info=True;User ID=DB_9EFA74_masterdump_admin;Password=SPCOM2016</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UsersDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UsersModel.csdl|res://*/Models.UsersModel.ssdl|res://*/Models.UsersModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5021.Smarterasp.net;Initial Catalog=DB_9EFA74_masterdump;Persist Security Info=True;User ID=DB_9EFA74_masterdump_admin;Password=SPCOM2016"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>