
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>About</h2>
            <p>Электронная база прошивок. Использовать ее может любой желающий как для хранения своих файлов, так и для их продажи.</p>
        </div>
        <div class="col-sm-2">
            <img class="img-rounded" width="200" src="~/Images/Home/blok1.jpg"/>
        </div>
        <div class="col-sm-2">
            <img class="img-rounded" width="200" src="~/Images/Home/blok2.jpg"/>
        </div>
        <div class="col-sm-2">
            <img class="img-rounded" width="250" src="~/Images/Home/blok3.jpg"/>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-4">
            <h3>Возможности Базы:</h3>
            <p>Поиск по марке, моделе, по году выпуска, по модулю, по типу памяти</p>
            <p>Возможность использование базы прошивок, как информационную базу</p>
            <p>Продажа файлов </p>
        </div>
        <div class="col-sm-4">
            <h3>Структура базы</h3>
            <p>
                Вы можете беспрепятственно загружать и продавать СВОИ файлы. Вы можете покупать любые файлы с открытым статусом. Ваши личные файлы, купленные и загруженные
                доступны вам всегда и без всяких ограничений.
            </p>
            <p>Схема работы базы предусматривает только трату накопленных средств на приобретение чужих файлов, за счет чего и производится обмен файлами.</p>
        </div>
        <div class="col-sm-4">
            <h3>Доступ к Базе:</h3>
            <p>Доступ к Базе осуществляется только зарегистрированными пользователями. </p>
            <p>
                Не пытайтесь указать что либо, т.к. регистрационная информация проверяется (возможен также контрольный звонок).
                После регистрации, введенные вами данные исключительно нигде не афишируются, не передаются третьим лицам, и не подлежат изменению без помощи Администратора.
            </p>
            <p>Регистрация в Базе бесплатна/платна</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <h3>Правила пополнения Базы:</h3>
        <ul>
            <li>
                Публикация прошивок без номера запрещена
            </li>
            <li>
                Базу прошивок можно пополнять исключительно только своими прошивками!
                Не разрешается пополнять базу чужими дампами, найденными в сети интернет, собранных с форумов и других ресурсах.
            </li>
            <li>
                К таким модулям, как SRS, IMMO, RADIO и другим, подразумевающим какие либо возможные ошибки, неисправности, коды доступа и т.п. обязательно указывать подробные примечания.
            </li>
            <li>
                При загрузке файла типа Flash, обязательно указывать, каким программатором этот дамп был считан.
            </li>
        </ul>
    </div>
    <div class="alert alert-success">
        При пополнении базы, старайтесь придерживаться стандартного формата заполнений полей. Не поленитесь посмотреть, как заполняли другие участники данного проекта это поле раньше.
        Если все участники будут придерживаться одинаковых правил ввода данных, то поиск по базе будет лучше работать.
    </div>
</div>
