
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>About</h2>
            <p>Electronic base dump . It can be used by any person for the storage and sale of its files.</p>
        </div>
        <div class="col-sm-2">
            <img class="img-rounded" width="200" src="~/Images/Home/blok1.jpg"/>
        </div>
        <div class="col-sm-2">
            <img class="img-rounded" width="200" src="~/Images/Home/blok2.jpg"/>
        </div>
        <div class="col-sm-2">
            <img class="img-rounded" width="250" src="~/Images/Home/blok3.jpg"/>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-4">
            <h3>Base has functions</h3>
            <p>Search by brand model, year of manufacture , according to the module by the type of memory</p>
            <p>The ability to use the base dump, as the information base</p>
            <p>Sale of files</p>
        </div>
        <div class="col-sm-4">
            <h3>Database structure</h3>
            <p>
                You can upload and sell your files .
                You can buy any files open status.
                Your personal files purchased and downloaded are available to you anytime and without limitations .

            </p>
            <p>The accumulated money , you can spend only for the purchase of other files.</p>
        </div>
        <div class="col-sm-4">
            <h3>Access to the database</h3>
            <p>Access to the database can only registered users. </p>
            <p>
                Do not attempt to indicate not real data . Registration information is checked ( it is also possible callback )  .
                Your data is never publicized , are not transferred to third parties and can not be changed without the assistance of the Administrator .
            </p>
            <p>Registration in the Base is free </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <h3>Replenishment Base </h3>
        <ul>
            <li>
                You can not add dumps without numbers
            </li>
            <li>
                The base can be replenished only by their dump !
                Not allowed to supplement the strangers dumps found in the Internet , collected from forums and other resources .
            </li>
            <li>
                These modules as SRS, IMMO, RADIO and others imply any errors , faults , access codes , etc. be sure to specify the detailed notes
            </li>
            <li>
                When you download a file of type Flash, be sure to point out how this dump programmer has been read .
            </li>
        </ul>
    </div>
    <div class="alert alert-success">
        When you add files adhere to a standard format required. If all parties will adhere to the same rules of data entry , the database search will work better 
    </div>

    
</div>
