@{
    ViewBag.Title = "Contact";
}

<div class="container">

    <h2>@ViewBag.Title.</h2>
    <p>E-mail1: email@gmail.com</p>
    <p>E-mail1: email@gmail.com</p>
    <p>Telephone: +380501231212</p>
    <p>Telephone: +380501231212</p>
    <p>ссылка на главную или на правила</p>
</div>
