@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@


<p>
    E-mail1: email@gmail.com
</p>
<p>
    E-mail1: email@gmail.com
</p>
<p>
    Telephone: +380501231212
</p>
<p>
    Telephone: +380501231212
</p>
<p>
    ссылка на главную или на правила
</p>

@*<address>
   <br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@