@{
    ViewBag.Title = "Contact";
}


<div class="container">
    @*<div style="text-align:center"> <h3>You can contact the administrator when you have questions or difficulty of use of the base dump .</h3></div>*@
    <div style="margin-top:30px;padding:0; text-align:center" class="row">

        <div style="@*background-color:#1a6358;*@ padding:5px;" class="col-sm-3 col-sm-offset-1 ">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div style="background-color:#1a6358;color:white" class="panel-heading">E-mail</div>
                    <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                     <h4>Technical support</h4>   
                        <p>email@gmail.com</p>
                    </li>
                     <li class="list-group-item">
                          <h4>Admin</h4>  
                        <p> email@gmail.com</p>
                        </li>
                    </ul>
                    </div>
            </div>
       </div>

        <div style="@*background-color:#1a6358;*@ padding:5px;margin-left:25px;" class="col-sm-3">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div style="background-color:#1a6358;color:white" class="panel-heading">TEXT</div>
                    <div class="panel-body">
                       L.CFMNBJSKDHFJBKS;DFHGKJFSDNKJVR   DGMFBJNDUIGFJKGNBURGUB MZCMMTHURHI
                    </div>
                </div>
            </div>
        </div>
    
        <div style="@*background-color:#1a6358;*@padding:5px; margin-left:25px;" class="col-sm-3">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div style="background-color:#1a6358;color:white" class="panel-heading"> USEFUL LINKS</div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            <h4> Car Electronics </h4>
                            <p><a href="http://spidometr.com.ua/">spidometr.com.ua</a></p>
                        </li>
                        <li class="list-group-item">
                            <h4>Krimistop System </h4>
                            <p><a href="http://www.nanonet.com.ua/">nanonet.com.ua</a></p>
                        </li>

                    </ul>
                </div>
            </div>
           </div>
        </div>
    </div> 