
@if (User.IsInRole("Admin"))
{
     
<div style="margin-top:5px;" class="row">
    <div class="col-sm-2">
        <h4 style="color:#1a6358">Full access:<span class="glyphicon glyphicons-right-arrow"></span></h4>
    </div>
    <div class="col-sm-2">
        @Html.ActionLink("Brands", "Index", "AutoBrandsAdmin", null, new { @class = "btn btn-default btn-block ", style = "color:#1a6358;border-color:#1a6358" })
    </div>
    <div class="col-sm-2">
        @Html.ActionLink("Models", "Index", "AutoModelsAdmin", null, new { @class = "btn btn-default btn-block ", style = "color:#1a6358;border-color:#1a6358" })
    </div>
    <div class="col-sm-2">
        @Html.ActionLink("Modules", "Index", "ModulesAdmin", null, new { @class = "btn btn-default btn-block ", style = "color:#1a6358;border-color:#1a6358" })
    </div>
    <div class="col-sm-2">
        @Html.ActionLink("Типы памяти", "Index", "MemoryTypesAdmin", null, new { @class = "btn btn-default btn-block ", style = "color:#1a6358;border-color:#1a6358" });
    </div>
</div>
}