@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4></h4>
@{Html.RenderAction("FullMenu", "AdminPanel", null);}


<h2>Personal Area</h2>
<h2>@User.Identity.Name</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Images/Home/photographer-30423_640.png" class="img-thumbnail" alt="user photo" width="200" height="120" />
        </div>

        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item"><span class="badge">Vasy Petrov</span> User name</li>
                <li class="list-group-item"><span class="badge">12.11.2015</span> Registration Date</li>
                <li class="list-group-item"><span class="badge">Vasy@gmail.com</span> Email</li>
                @*<li class="list-group-item">Change data (ссылка)</li>*@
            </ul>
            @Html.ActionLink("Change data", "Index", "Manage", null, new { @class = "btn btn-primary btn-block", @style = "background-color:#1a6358; border-color:#1a6358" })
        </div>
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item"><span class="badge">12</span> Your files</li>
                <li class="list-group-item"><span class="badge">5</span> Download files</li>
                <li class="list-group-item"><span class="badge">3</span>Balance </li>
            </ul>
            @*<button type="button" class="btn btn-primary btn-block" style="background-color:#1a6358;" data-toggle="modal">Add files</button>*@
            @Html.ActionLink("Add Files", "Create", "CreateCarDumpRecord", null, new { @class = "btn btn-primary btn-block  ", style = "background-color:#1a6358; border-color:#1a6358" });

        </div>
    </div>
</div>

<hr />
<div class="container">
    <div class="row">
        <form method="get" id="">
            <div class="form-inline">
                <label class="control-label">Auto </label>
                @*@Html.DropDownList("brandname", Model.AutoBrands as SelectList,
                    htmlAttributes: new
                    {
                        @class = "form-control",
                        onchange = "this.form.submit();"
                    })*@
                <label class="control-label">Model </label>
                @*@Html.DropDownList("modelname", Model.Models as SelectList,
                    htmlAttributes: new
                    {
                        @class = "form-control",
                        onchange = "this.form.submit();"
                    })*@
                <label class="control-label">Auto </label>
                @*@Html.DropDownList("brandname", Model.AutoBrands as SelectList,
                    htmlAttributes: new
                    {
                        @class = "form-control",
                        onchange = "this.form.submit();"
                    })*@

            </div>
        </form>
    </div>
</div>

<style>
    .cvet li.active a {
        background-color: #1a6358;
    }

    .cvet .active a:hover {
        background-color: #063932;
    }
</style>
<div class="container">
    <div class="row" style="margin-top:10px;">
        <ul class="nav nav-pills cvet">
            <li class="active"><a data-toggle="tab" href="#home">ALL </a></li>
            <li><a data-toggle="pill" href="#menu1">Private only</a></li>
            <li><a data-toggle="pill" href="#menu2">Public only</a></li>
            <li><a data-toggle="pill" href="#menu3">Public confirmed</a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                @*<h4>Recently added</h4>*@
                @{ Html.RenderAction("CarDumpsListByUserId", "AdminPanel", new
                    {
                        userId = User.Identity.GetUserId()
                    });}
            </div>
            <div id="menu1" class="tab-pane fade">
                <h4>Private only</h4>
                @{ Html.RenderAction("CarDumpsListByUserId", "AdminPanel", new
                        {
                            userId = User.Identity.GetUserId(),
                            accessId = 2
                    });}
            </div>
            <div id="menu2" class="tab-pane fade">
                <h4>Public only</h4>
                @{ Html.RenderAction("CarDumpsListByUserId", "AdminPanel", new
                    {
                        userId = User.Identity.GetUserId(),
                        accessId = 1
                    });}
             </div>
            <div id="menu3" class="tab-pane fade">
                <h4>Bought</h4>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>
    </div>
</div>
<div id="myModal_change_data" class="modal fade" role="dialog">
    <div style="width:450px; " class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div style="background-color:#1a6358;border-radius: 5px 5px  0 0 ;" class="modal-header">
                <button style="color:white" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="color:white" class="modal-title">DumpBase</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <h3>Change data</h3>
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="E-mail">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="phone number" placeholder="Phone number">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pwd" placeholder="Old password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pwd" placeholder="New password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pwd" placeholder="Repeat new password">
                        </div>
                        <button type="submit" class="btn btn-default" style="background-color:#1a6358; color:white">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
