
@{
    ViewBag.Title = "_AdminView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderAction("FullMenu", "AdminPanel", null); }

<div class="container">

    @RenderBody()
</div>

@section scripts{ 
        @RenderSection("scripts", required: false)
}

